<div class="row center-xs middle-xs">
  <div class="col-xs-12 col-sm-10 col-md-8">
    <div class="box card black-text">
      <h1 class="title">Información enviada con éxito</h1>
      <p>Gracias <%= @contract.name %> usted ha aceptado los términos y condiciones </p>
      <p>Usted recibira una copia en su correo <%=@contract.email%></p>
      <div class="top-space">
        <%= link_to 'Volver al inicio', root_path, class: 'btn-info' %>
      </div>
    </div>
  </div>
</div>