<div class="red full-height row center-xs middle-xs">
    <div class="col-xs-12">
        <div class="box">
            <h1>Utesis</h1>
        </div>
    </div>
</div>
<div class="red full-height">
    respeto al derecho de autor
</div>
<div class="red full-height">
    confidencialidad
</div>
<div class="red full-height">
    exclusividad
</div>
<div class="red full-height">
    profesionalismo
</div>
<div class="red full-height">
    exito
</div>
<div class="red full-height">
    legalidad
</div>
<div class="red full-height">
    experiencia
</div>