<div id="heraldica">

</div>
<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger">
        <div></div>
    </div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <h4>Contactanos: Ventas:  info@utesis.com (se cambió el mail)</h4>
                    <li><a href="#"></a></li>
                    <li><a href="#">MÉXICO: Torre Polanco. Calz. Mariano Escobedo, piso 12, Col. Nueva Anzures, Ciudad de México, Ciudad de México, 11590. Ventas tel: +52 55 11997897</a></li>
                    <li><a href="#">GUATEMALA: Edificio TEC, Vía 4 1-00 Zona 4 Torre 2 Oficina 401 CONSULTING SUPPORT S.A. PBX: 24584313</a></li>
                    <li><a href="#">EL SALVADOR, San Salvador: World Trade Center 89 Avenida Norte y Calle El Mirador, Colonia Escalón Torre I, Segundo Piso PBX: 2113 0316</a></li>
                    <li><a href="#">COSTA RICA: Costado Sur de cc Multiplaza, Edificio Escazú Corporate Center, Piso 6 San Rafael de Escazú, San José. PBX + (506) 87464527</a></li>
                    <li><a href="#">COLOMBIA: Bogotá: Edificio QBO Parque 93, Calle 93A, No. 13-24, Piso 5, Bogotá, Cundinamarca, 110221 Medellín: Torre Protección, Carrera 43 A # 1-50, piso 6, Medellín, Antioquia Tel: 3202740254</a></li>
                    <li><a href="#">PERÚ: Lima: Calle Dean Valdivia 148, Edif. Platinum Plaza I, piso 11 San Isidro, Lima, 15046. Tel. 5116419105</a></li>
                    <li><a href="#">CHILE: Dirección: Av. El Golf 40, 12th Floor, Santiago, Las Condes, Región Metropolitana.</a></li>
                </ul>
                <ul>
                    <h4>Nuestros Servicios</h4>
                    <li><a href="#">Tesis de licenciatura o postgrado</a></li>
                    <li><a href="#">Proyectos o planes de tesis</a></li>
                    <li><a href="#">Revisión y corrección de Tesis y planes o proyectos de tesis</a></li>
                    <li><a href="#">Tesinas</a></li>
                        <li><a href="#">Monografías</a></li>
                        <li><a href="#">Artículos Científicos</a></li>
                        <li><a href="#">Ensayos</a></li>
                        <li><a href="#">Discursos</a></li>
                        <li><a href="#">Investigación en general</a></li>
                        <li><a href="#">Análisis y resumen de libros en general</a></li>
                        <li><a href="#">Estadísticas</a></li>
                    </ul>
                    <ul>
                        <h4>Politicas</h4>
                        <li><a href="#">Leer terminos y condiciones aquí</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
<div class="red full-height row center-xs middle-xs cover" id="utesis">
    <div class="col-xs-12">
        <div class="box">
            
        </div>
    </div>
</div>
<div class="cover full-height row center-xs middle-xs" id="author">
    <div class="col-xs-12">
        <div class="box">
            <h1>RESPETO AL DERECHO DE AUTOR</h1>
            <p>INVESTIGACIONES SIN PLAGIO Y CON EL DEBIDO RESPETO A LOS DERECHOS DE AUTOR.</p>
        </div>
    </div>
</div>
<div class="row center-xs middle-xs full-height cover" id="confidencialidad">
    <div class="col-xs-12">
        <div class="box">
            <h1>CONFIDENCIALIDAD</h1>
            <p>SECRETO PROFESIONAL: NO REVELAMOS LOS DATOS PERSONALES Y ACADÉMICOS DEL CLIENTE. SE ELIMINA TODA INFORMACIÓN INTERCAMBIADA UNA VEZ TERMINADA LA RELACIÓN CONTRACTUAL</p>
        </div>
    </div>
</div>
<div class="red full-height row cover center-xs middle-xs" id="exclusividad">
    <div class="col-xs-12">
        <div class="box">
            <h1>EXCLUSIVIDAD</h1>
            <p>DOCUMENTOS 100% INÉDITOS Y NO REUTILIZABLES</p>
        </div>
    </div>
</div>
<div class="red full-height row center-xs middle-xs cover" id="profesionalismo">
    <div class="col-xs-12">
        <div class="box">
            <h1>PROFESIONALISMO</h1>
            <p>SOMOS LA ORGANIZACIÓN DE PROFESIONALES EXPERTOS PARA CADA INVESTIGACIÓN DE LICENCIATURA O POSTGRADO EN TODAS LAS CARRERAS</p>
        </div>
    </div>
</div>
<div class="red full-height row center-xs middle-xs cover" id="exito">
    <div class="col-xs-12">
        <div class="box">
            <h1>ÉXITO</h1>
            <p>ACOMPAÑAMIENTO Y ASISTENCIA PROFESIONAL DURANTE TODO EL PROCESO HASTA LA FINALIZACIÓN EXITOSA DEL PROCESO DE TESIS</p>
        </div>
    </div>
</div>
<div class="red full-height row center-xs middle-xs cover" id="legalidad">
    <div class="col-xs-12">
        <div class="box">
            <h1>LEGALIDAD</h1>
            <p>CONTRATACIÓN CON RESPALDO LEGAL A TRAVÉS DE NUESTROS CONTRATOS DIGITALES</p>
        </div>
    </div>
</div>
<div class="red full-height row center-xs middle-xs cover" id="experiencia">
    <div class="col-xs-12">
        <div class="box">
            <h1>EXPERIENCIA</h1>
            <p>DESDE 2007 SOMOS LA ORGANIZACIÓN DE PROFESIONALES MAS GRANDE DE IBEROAMÉRICA AL SERVICIO DE ESTUDIANTES COMO TÚ.</p>
            <div class="top-space--3">
            <%= link_to 'Mas información', youtube_path, class: 'top-space btn-info' %>
        </div>
        </div>
    </div>
</div>
