<div class="red full-height row center-xs middle-xs cover" id="utesis">
    <div class="col-xs-12">
        <div class="box">
            
        </div>
    </div>
</div>
<div class="cover full-height row center-xs middle-xs" id="author">
    <div class="col-xs-12">
        <div class="box">
            <h1>RESPETO AL DERECHO DE AUTOR</h1>
            <p>INVESTIGACIONES SIN PLAGIO Y CON EL DEBIDO RESPETO A LOS DERECHOS DE AUTOR.</p>
        </div>
    </div>
</div>
<div class="row center-xs middle-xs full-height" id="confidencialidad">
    <div class="col-xs-12">
        <div class="box">
            <h1>CONFIDENCIALIDAD</h1>
            <p>SECRETO PROFESIONAL: NO REVELAMOS LOS DATOS PERSONALES Y ACADÉMICOS DEL CLIENTE. SE ELIMINA TODA INFORMACIÓN INTERCAMBIADA UNA VEZ TERMINADA LA RELACIÓN CONTRACTUAL</p>
        </div>
    </div>
</div>
<div class="red full-height row cover center-xs middle-xs" id="exclusividad">
    <div class="col-xs-12">
        <div class="box">
            <h1>EXCLUSIVIDAD</h1>
            <p>DOCUMENTOS 100% INÉDITOS Y NO REUTILIZABLES</p>
        </div>
    </div>
</div>
<div class="red full-height row center-xs middle-xs" id="profesionalismo">
    <div class="col-xs-12">
        <div class="box">
            <h1>PROFESIONALISMO</h1>
            <p>SOMOS LA ORGANIZACIÓN DE PROFESIONALES EXPERTOS PARA CADA INVESTIGACIÓN DE LICENCIATURA O POSTGRADO EN TODAS LAS CARRERAS</p>
        </div>
    </div>
</div>
<div class="red full-height row center-xs middle-xs" id="exito">
    <div class="col-xs-12">
        <div class="box">
            <h1>ÉXITO</h1>
            <p>ACOMPAÑAMIENTO Y ASISTENCIA PROFESIONAL DURANTE TODO EL PROCESO HASTA LA FINALIZACIÓN EXITOSA DEL PROCESO DE TESIS</p>
        </div>
    </div>
</div>
<div class="red full-height row center-xs middle-xs" id="legalidad">
    <div class="col-xs-12">
        <div class="box">
            <h1>LEGALIDAD</h1>
            <p>CONTRATACIÓN CON RESPALDO LEGAL A TRAVÉS DE NUESTROS CONTRATOS DIGITALES</p>
        </div>
    </div>
</div>
<div class="red full-height row center-xs middle-xs" id="experiencia">
    <div class="col-xs-12">
        <div class="box">
            <h1>EXPERIENCIA</h1>
            <p>DESDE 2007 SOMOS LA ORGANIZACIÓN DE PROFESIONALES MAS GRANDE DE IBEROAMÉRICA AL SERVICIO DE ESTUDIANTES COMO TÚ.</p>
            <%= link_to 'Mas información', youtube_path %>
        </div>
    </div>
</div>
