<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <ul>
                <h2>A. Servicio Básico: </h2>
                <li>Colaboración en propuesta de temas (gratis)</li>
                <li>Colaboración en desarrollo de Plan, protocolo o anteproyecto (gratis)</li>
                <li>Tesis o equivalente</li>
                <li>Correcciones de FONDO (ilimitadas) en todas las etapas.</li>
            </ul>

            <ul>
                <h2>B. Servicio Completo: </h2>
                <li>Colaboración en propuesta de Tema (gratis) </li>
                <li>Colaboración en desarrollo de Plan, protocolo o anteproyecto (gratis)</li>
                <li>Tesis o equivalente</li>
                <li>Correcciones de FONDO (ilimitadas) en todas las etapas</li>
                <li>Correcciones de FORMA (ilimitadas) en todas las etapas</li>
                <li>Acompañamiento y asesoría profesional (de forma remota)</li>
                <li>Participación del departamento de Edición (es decir, adecuación del trabajo a manuales de forma en específico)</li>
                <li>Participación del departamento de Filología o lingüistica.</li>
            </ul>

            <div>
                <%= link_to 'Ver planes', payment_path %>
            </div>
        </div>
    </div>
</div>