<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <h1>Planes de pago</h1>


            <div>
                <h2>A. Servicio Básico:</h2>
                <p>Q7,485 (pagos durante 3 meses, o sea el monto dividio en 3, con tarjeta de       crédito o débito, o 12 visacuotas) Q6,485 pago de contado, es decir, en efectivo. 
                </p>
                <ul>
                    <li>Colaboración en propuesta de Tema (gratis) </li>
                    <li>Colaboración en propuesta de Plan (gratis)</li>
                    <li>Tesis </li>
                    <li>Correcciones de FONDO (ilimitadas) en las tres etapas</li>
                </ul>
            </div>

            <div>
                <h2>B. Servicio Completo:</h2>
                <p>Q8,485 (pagos durante 3 meses, o sea el monto dividio en 3, con tarjeta de crédito o débito de contado o 12 visacuotas) Q7,485 pago de contado (efectivo)
                </p>
                <ul>
                    <li>Colaboración en propuesta de Tema (gratis) </li>
                    <li>Colaboración en propuesta de Plan (gratis)</li>
                    <li>Tesis </li>
                    <li>Correcciones de FONDO (ilimitadas) en las tres etapas</li>
                    <li>Correcciones de FORMA (ilimitadas) en las tres etapas</li>
                    <li>Acompañamiento y asesoría profesional</li>
                    <li>Participación del departamento de Edición (es decir, adecuación del trabajo a manuales de forma en específico)</li>
                    <li>Participación del departamento de Filología o lingüistica.</li>
                </ul>
            </div>

            <div>
                <%= link_to 'Contratar', new_contract_path %>
            </div>
        </div>
    </div>
</div>