<div class="row center-xs middle-xs full-height">
    <div class="col-xs-12 col-sm-10 col-md-8">
        <div class="box card">
            <h1 class="black-text title--2">Políticas</h1>
            <p class="justify-text black-text">Todos los puntos de esta contratación están estrictamente apegados a los aspectos legales establecidos por la Organización Mundial de Comercio relativo al comercio electrónico, así como lo relativo a la Declaración sobre el Comercio Electrónico Mundial de la Organización Mundial del Comercio (OMC). Toda persona individual o jurídica que contrate los servicios de Utesis.com acepta y ratifica sin excepción alguna todas y cada una de las políticas que se desarrollan a continuación. El servicio de investigación será prestado únicamente en idioma español.

Contrato . Para la contratación de los servicios de Utesis.com el interesado deberá firmar el contrato legal respectivo que corresponda al país en donde se prestarán los servicios. El servicio de investigación será prestado únicamente en idioma español.

Derechos de Autor . Utesis.com deberá respetar y reconocer los derechos de autor en los contenidos que genere a través de investigaciones de cualquier tipo (informaciones, textos, gráficos, archivos de sonido y/o imagen, fotografías, diseños, etc.) información que cede al cliente interesado a quien se permite: su reproducción, distribución o modificación, a menos que sea necesario de conformidad con la Ley contar con la autorización de sus legítimos titulares.

Confidencialidad y exclusividad. Utesis.com tiene totalmente prohibido divulgar, facilitar o vender a terceras personas por cualquier medio información o datos personales del interesado o de la investigación que se desarrolle para este así como tampoco puede utilizar datos obtenidos en la investigación objeto del presente contrato para otros contratantes.

Fechas de entrega. El interesado debe esperar recibir contenido en (información, materiales, gráficos, datos, etc.) la(s) fecha(s) pactadas con Utesis.com o con sus colaboradores las cuales quedarán registradas y establecidas por mutuo acuerdo mediante el correo electrónico desarrollo@utesis.com

Plazos tentativos de entrega.

a) En caso de que Utesis.com le haga varias propuestas de temas al cliente, este no podrá enajenarlas, regalarlas, permutarlas o donarlas a cualquier otra persona. Si luego de las investigaciones habituales, Utesis.com descubre que esta disposición se ha violentado podrá dejar sin efecto el contrato sin responsabilidad de su parte y sin derecho a reembolso alguno.

b) El plazo para la entrega de una tesis completa de licenciatura (de 80 a 110 páginas) o de postgrado (de 180 a 210 páginas) es de máximo 3 meses.

Plazo para emisión de opinión. El cliente que reciba cualquier documentación de investigación académica por parte de Utesis.com tiene un plazo de tres días calendario para emitir su opinión respecto del contenido del documento tal como se estipula en el contrato. Este plazo no guarda relación alguna con los plazos de revisión o aprobación por parte de la Universidad o casa de estudios del cliente.

Plazos en responsabilidad tripartita:

Plazos Utesis.com/Cliente/Universidad El plazo para un proceso de investigación completo, es decir, el tiempo que el cliente y Utesis.com emplearán para el desarrollo de documentos tales como: Tema, Plan y Tesis: oscila entre 3 meses y un año dependiendo de varios factores tales como: tipo de investigación que se contrate, del proceso interno en cada universidad para la revisión y aprobación de cada documento, etc. Estos plazos se deben entender en responsabilidad tripartita: Utesis.com/Cliente/Universidad siendo entonces, las partes contratantes y la universidad del cliente responsables del tiempo que se invierta en el desarrollo del trabajo y gestiones administrativas que el cliente deba hacer en su casa de estudios respectivamente.

Plazos Estudiante/Universidad. Los plazos en relación Estudiante/Universidad son totalmente independientes a Utesis.com por lo que el interesado deberá contemplar el tiempo que conlleven los trámites administrativos en la Universidad, citas con asesores o revisores de tesis, plazos para correcciones, etc. los cuales pueden alargar considerablemente el proceso de tesis. Utesis.com no se hace responsable del tiempo que el cliente invierta en dichos trámites.

Responsabilidad de la información. El solicitante asumirá plenamente la responsabilidad ante terceros sobre el uso que haga de la información recibida. Utesis.com no será responsable ante terceros de las consecuencias que pudieran derivarse del uso de información por el interesado.

Correcciones . Todos los documentos enviados por Utesis.com son susceptibles de ser corregidos por los asesores de cada centro de estudios universitarios. Todas las correcciones deberán ser enviadas en formato electrónico al correo desarrollo@utesis.com NO SE ACEPTARÁN INSTRUCCIONES DE CORRECCIONES EN PAPEL. A las correcciones en fotografía o escaneadas se debe adjuntar la interpretación de las mismas en documento Word (esto se debe a que regularmente la letra del asesor o equivalente suele ser ilegible)


Correcciones en trabajos completos. El cliente tiene derecho a correcciones de fondo y de forma que sean ordenadas por el profesional de la universidad que corresponda respecto del trabajo que Utesis.com haya desarrollado. Las correcciones a la tesis no incluyen cambio completo de un capítulo o mas. Si se tratare de dos o más capítulos a cambiar completamente, el interesado deberá costear lo que esto represente basados en la complejidad de los nuevos capítulos y el tiempo de entrega de los mismos.

En los casos en los que el interesado haya contratado el servicio exclusivamente para correcciones de un trabajo no desarrollado por Utesis.com se estará a lo que se pacte en ese momento.

El tiempo para el desarrollo de las correcciones solicitadas por el cliente para un trabajo elaborado y entregado por Utesis.com será de por lo menos el 50% del tiempo que se tomó para hacer el documento que se corregirá salvo que las correcciones sean demasiado complejas por lo que los profesionales de Utesis.com podrán prorrogar este plazo.

Manuales de trabajo. Al momento de la contratación el cliente deberá facilitar el manual, instructivo o cualquier otra guía para la elaboración del trabajo contratado y en el caso de que el servicio también incluya arreglos de forma al documento en donde se plasme la investigación deberá adjuntar los manuales y guías para el efecto. En caso contrario Utesis.com hará uso de los manuales APA sexta edición para plasmar la información derivada de la investigación objeto del presente instrumento y sin responsabilidad de su parte (la adecuación de forma a manuales tiene un costo adicional al servicio estándar) De la misma forma cuando el cliente envíe los documentos que considere necesarios para el desarrollo de la investigación solicitada deberá enumerar y nombrar correctamente cada uno de ellos indicando el fin que cumplen, evitando enviar documentación relacionada con trámites adminstrativos dentro de la Universidad o sin ningun utilidad.

PRINCIPIO DE INCLUSIÓN DEL CLIENTE

Para el bienestar académico del cliente, éste debe participar en algún porcentaje en el desarrollo de la investigación por lo que cualquier servicio NO INCLUYE:

Elaboración de carátulas, portadas, contraportadas, dedicatorias, introducción, resumen, conclusiones ni recomendaciones. Únicamente la información objeto de interés del cliente con su respectiva bibliografía e índice con reconocimiento de fuentes de la información de conformidad con la ley. En ningún caso el costo normal de la investigación incluye trabajo de campo salvo que el cliente lo desee costear como un cargo económico extra. Los trabajos de investigación que incluya planos o diseños complejos, búsqueda o proposición de alguna empresa o entidad de cualquier índole para ejecutar el trabajo se consideran trabajo de campo.

De la misma forma el cliente deberá elaborar por sus propios medios aquellas correcciones minúsculas y sencillas que no requieran del apoyo de los profesionales de Utesis.com

Tema o plan de tesis. Los temas o puntos de tesis serán proporcionados totalmente gratis al cliente que contrate el servicio completo (tema, plan y tesis) sin embargo, los temas o puntos de tesis que Utesis.com brinde al interesado son desarrollados hasta en un 67% por lo que el cliente deberá hacer los aportes que considere necesarios para su efectiva aprobación en la Universidad a la que someta la evaluación y viabilidad del tema o punto de tesis. El servicio estándar no incluye adecuación del trabajo de investigación a parámetros de forma, salvo que el cliente pague por este servicio. Utesis.com no propondrá mas de quince temas o títulos de investigación o de tesis por cada cliente independientemente del lapso en el que lo haga dentro de esta contratación, ni desarrollará más de tres temas seleccionados por el cliente (los cuales no excederán de dos cuartillas o dos páginas tamaño carta) En caso de que los temas sean insuficientes para el cliente Utesis.com podrá desarrollar mas temas, pero será el cliente quién deberá hacer las propuestas de los mismos.

Sobre el uso de la web y redes sociales. El Usuario se compromete a utilizar la Web, páginas de Facebook de Utesis.com sin contravenir la legislación vigente, la buena fe, los usos generalmente aceptados y el orden público. Asimismo, queda prohibido, el uso de la Web y Páginas de Facebook con fines ilícitos o lesivos contra Utesis.com o cualquier tercero, o que, de cualquier forma, puedan causar perjuicio o impedir el normal funcionamiento de la página web y páginas de Facebook de Utesis.com o de cualquier otra red social.

Pagos. Todos los pagos se efectuarán mediante cuenta bancaria por Utesis.com destinada para el efecto, pagos en línea o pagos con tarjeta de crédito o débito. Ningún miembro de Utesis.com está autorizado para la recepción de dinero en efectivo.

Devoluciones. Se procederá a una devolución total o parcial del monto pagado en los casos en los que Utesis.com incurra en incumplimiento del contrato con el interesado para lo cual se estará a las políticas de devolución siguientes:

1. No se procederá a devolución en los casos en el que el cliente decida la terminación de la relación por prestación de servicios por causas personales o por causas diferentes que se establezcan en el respectivo contrato de adquisición de servicios.

2. Se prohíbe la cesión del servicio a otra u otras personas por parte del cliente.

3. Para iniciar con el proceso de devolución el cliente deberá comprobar fehacientemente que el trabajo de investigación no será utilizado para ningún propósito o fin académico. La forma de comprobar esto es a través de una constancia escrita emitida por la casa de estudios o entidad educativa del cliente en donde se establezca que dicho trabajo ha sido rechazado en su totalidad por adolecer de errores que no son susceptibles de enmendarse.

3.1. El interesado deberá dirigir una carta a la Junta Directiva solicitando la respectiva devolución e indicando las razones que la motivan. La carta en mención debe ser enviada a: atencionalcliente@utesis.com

3.2. Utesis.com emitirá una resolución en donde acepta la solicitud devolución o rechaza la misma. En caso de ser aceptada se fijará fecha para la devolución solicitada y el cliente deberá proporcionar una cuenta bancaria a su nombre para el efectivo reembolso. Utesis.com cuenta con hasta con un mes para evaluar, investigar y emitir una resolución.

4. Si el cliente no cuenta con el contrato de adquisición de servicios de Utesis.com no se procederá al trámite de devolución.

5. La devolución o reembolso de dinero se hará de la misma forma en la que el cliente haya efectuado el pago, es decir, bajo la misma periodicidad o lapsos en los que el cliente haya hecho sus pagos o en un solo momento si este lo hizo de la misma forma tomando en consideración los costos administrativos que este proceso genere mismos que se restarán al monto a reembolsar.

Días no laborales: Los días de asueto oficial de conformidad con la Ley y el período vacacional del personal de la empresa no se laborará por lo que no existirá envío o recepción de trabajos en dichas fechas sin excepción alguna.</p>
        <div class="top-space">
            <%= link_to 'Volver al inicio', root_path, class: '' %>
        </div>
        </div>
    </div>
</div>