<div class="row center-xs middle-xs">
    <div class="col-xs-12">
        <div class="box">
            <h1>Tienes dificultades con tu tesis?</h1>
            <p>Aqui tienes un video con información que te puede ayudar</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GjHzGrb1hYs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div>
                <%= link_to 'Mas Informacion', info_path %>
            </div>
            <div>
                <%= link_to 'volver al inicio', root_path %>
            </div>
        </div>
    </div>
</div>