<div class="row center-xs middle-xs">
  <div class="col-xs-12 col-sm-10 col-md-8">
    <div class="box card black-text">
      <h1 class="title">Información enviada con éxito</h1>
      <p>Gracias <%= @contact.name %> por contactar al equipo de Utesis</p>
      <p>A la brevedad uno de nuestros profesionales estará evaluando su solicitud.</p>
      <div>
        <p class="bold">
          Atte.
          Equipo de Evaluación
        </p>
      </div>

      <div class="top-space">
        <%= link_to 'Volver al inicio', root_path, class: 'btn-info' %>
      </div>
    </div>
  </div>
</div>