html, body{
    margin: 0;
    padding: 0;
}

.full-height{
    height: 100vh;
}

.red{
    background-color: rgb(107, 59, 139);
}

.cover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#utesis{
    background-image: url('~utesis--lg.png');
}

#author{
    background-image: url('~author--lg.png');
}

#confidencialidad{
    background-image: url('~confidencialidad--lg.png');
}

#exclusividad{
    background-image: url('~exclusividad--lg.png');
}

#profesionalismo{
    background-image: url('~profesionalismo--lg.png');
}

#exito{
    background-image: url('~exito--lg.png');
}

#legalidad{
    background-image: url('~legalidad--lg.png');
}

#experiencia{
    background-image: url('~experiencia--lg.png');
}